  body{
      background-color: white;
  }
  img{
      width: 200px;
      border-radius: 20px;
      margin:20px 40px;
}
  .container{
      width: 1470px;
      height: 730px;
      border-radius:20px ;
      box-shadow: 5px 5px 5px  darkgray;
  }

.name{
    font-family: 'Redressed', cursive;
    margin-left: 70px;
}